#header-top {
  width: 960px;
  margin: 0 auto;
  padding-top: 30px;
}
#header-top .logo-container {
  text-align: left;
  padding-top: 32px;
  margin-right: 10px;
}
#header-top .logo-container img {
  width: 210px;
}